{% extends 'base.html' %}
{% load static %}
{% load blog_tags %}
{% block content %}
{% load humanize %}

<div class="header-top">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 col-sm-6 col-6 header-top-left">
				<ul>
					<li><a href="#">Visit Us</a></li>
					<li><a href="#">Buy Tickets</a></li>
				</ul>
			</div>
			<div class="col-lg-6 col-sm-6 col-6 header-top-right">
				<div class="header-social">
					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-dribbble"></i></a>
					<a href="#"><i class="fa fa-behance"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container main-menu">
	<div class="row align-items-center justify-content-between d-flex">
		<div id="logo">
			<a href="index.html"><img src="{% static 'img/logo.png' %}" alt="" title="" /></a>
		</div>
		<nav id="nav-menu-container">
			<ul class="nav-menu">
				<li><a href="index.html">Home</a></li>
				<li><a href="about.html">About</a></li>
				<li class="menu-has-children"><a href="">Blog</a>
					<ul>
						<li><a href="blog-home.html">Blog Home</a></li>
						<li><a href="blog-single.html">Blog Single</a></li>
					</ul>
				</li>
				<li class="menu-has-children"><a href="">Pages</a>
					<ul>
						<li><a href="elements.html">Elements</a></li>
						<li class="menu-has-children"><a href="">Level 2 </a>
							<ul>
								<li><a href="#">Item One</a></li>
								<li><a href="#">Item Two</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		</nav><!-- #nav-menu-container -->
	</div>
</div>
</header><!-- #header -->

<!-- start banner Area -->
<section class="relative about-banner">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">
					{{post.title}}
				</h1>
				<p class="text-white link-nav"><a href="{% url 'website:index' %}">Home </a> <span
						class="lnr lnr-arrow-right"></span><a href="{% url 'blog:homeblog' %}">Blog </a> <span
						class="lnr lnr-arrow-right"></span>{{post.title}}</p>
			</div>
		</div>
	</div>
</section>
<!-- End banner Area -->

<!-- Start post-content Area -->
<section class="post-content-area single-post-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 posts-list">
				<div class="single-post row">

					<div class="col-lg-12">
						<div class="feature-img">
							<img class="img-fluid" src="{{post.image.url}}" alt="">
						</div>

						<div class="meta-inline d-flex flex-wrap align-items-center my-3 pb-2 border-bottom">

							<p class="user-name mr-4 mb-0">
								<a href="{% url 'blog:authorblog' author_username=post.author.username %}"
									class="font-weight-bold">{{post.author}}</a> <span class="lnr lnr-user"></span>
							</p>

							<p class="date mr-4 mb-0">
								<a href="">{{post.published_date|date:"d M Y"}}</a> <span
									class="lnr lnr-calendar-full"></span>
							</p>

							<p class="view mr-4 mb-0">
								<a href="">{{post.counted_view}}</a> <span class="lnr lnr-eye"></span>
							</p>

							<ul class="tags d-flex align-items-center mb-0 p-0" style="list-style: none;">

								<li class="mr-1">
									<span class="font-weight-bold">category:</span>
								</li>

								{% for cate in post.category.all %}
								<li class="mr-1 mb-0">
									<a href="{% url 'blog:categoryblog' cat_name=cate.name %}"
										class="font-weight-bold">{{cate.name}} &nbsp;</a>{% if not forloop.last %},{% endif %}
								</li>
								{% endfor %}
							</ul>

							<p class="comments mr-4 mb-0">
								<a href="">{{comments|length}} Comments</a> <span class="lnr lnr-bubble"></span>
							</p>
						</div>
					</div>

					<div class="col-lg-12 col-md-12">
						<h3 class="mt-20 mb-20">{{post.title}}</h3>
						<p class="excert">
							{{post.content}}
						</p>
					</div>

				</div>
				<div class="navigation-area">
					<div class="row">
						<div
							class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
							<div class="thumb">
								<a href="#"><img class="img-fluid" src="{% static 'img/blog/prev.jpg' %}" alt=""></a>
							</div>
							<div class="arrow">
								<a href="#"><span class="lnr text-white lnr-arrow-left"></span></a>
							</div>
							<div class="detials">
								<p>Prev Post</p>
								<a href="#">
									<h4>Space The Final Frontier</h4>
								</a>
							</div>
						</div>
						<div
							class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
							<div class="detials">
								<p>Next Post</p>
								<a href="#">
									<h4>Telescopes 101</h4>
								</a>
							</div>
							<div class="arrow">
								<a href="#"><span class="lnr text-white lnr-arrow-right"></span></a>
							</div>
							<div class="thumb">
								<a href="#"><img class="img-fluid" src="{% static 'img/blog/next.jpg' %}" alt=""></a>
							</div>
						</div>
					</div>
				</div>
				<div class="comments-area">
					<h4>{{comments|length}} Comments</h4>
					<div class="comment-list">
						{% for comment in comments %}
						<div class="single-comment justify-content-between d-flex">
							<div class="user justify-content-between d-flex">
								<div class="thumb">
									<img src="{% static 'img/blog/c1.jpg' %}" alt="" style="width: 60px; height: 60px; object-fit: cover; border-radius: 5px;">
								</div>
								<div class="desc">
									<h5><a href="#">{{comment.name}}</a></h5>
									<p class="date">{{comment.created_date|naturalday}} </p>
									<p class="comment">
										{{comment.message}}
									</p>
								</div>
							</div>
						</div>
						{% empty %}
						<p>no comment here be the first one</p>
						{% endfor %}
					</div>
					<!--
					<div class="comment-list left-padding">
						<div class="single-comment justify-content-between d-flex">
							<div class="user justify-content-between d-flex">
								<div class="thumb">
									<img src="{% static 'img/blog/c2.jpg' %}" alt="">
								</div>
								<div class="desc">
									<h5><a href="#">Elsie Cunningham</a></h5>
									<p class="date">December 4, 2017 at 3:12 pm </p>
									<p class="comment">
										Never say goodbye till the end comes!
									</p>
								</div>
							</div>
							<div class="reply-btn">
								<a href="" class="btn-reply text-uppercase">reply</a>
							</div>
						</div>
					</div>
					<div class="comment-list left-padding">
						<div class="single-comment justify-content-between d-flex">
							<div class="user justify-content-between d-flex">
								<div class="thumb">
									<img src="{% static 'img/blog/c3.jpg' %}" alt="">
								</div>
								<div class="desc">
									<h5><a href="#">Annie Stephens</a></h5>
									<p class="date">December 4, 2017 at 3:12 pm </p>
									<p class="comment">
										Never say goodbye till the end comes!
									</p>
								</div>
							</div>
							<div class="reply-btn">
								<a href="" class="btn-reply text-uppercase">reply</a>
							</div>
						</div>
					</div>
					<div class="comment-list">
						<div class="single-comment justify-content-between d-flex">
							<div class="user justify-content-between d-flex">
								<div class="thumb">
									<img src="{% static 'img/blog/c4.jpg' %}" alt="">
								</div>
								<div class="desc">
									<h5><a href="#">Maria Luna</a></h5>
									<p class="date">December 4, 2017 at 3:12 pm </p>
									<p class="comment">
										Never say goodbye till the end comes!
									</p>
								</div>
							</div>
							<div class="reply-btn">
								<a href="" class="btn-reply text-uppercase">reply</a>
							</div>
						</div>
					</div>
					<div class="comment-list">
						<div class="single-comment justify-content-between d-flex">
							<div class="user justify-content-between d-flex">
								<div class="thumb">
									<img src="{% static 'img/blog/c5.jpg' %}" alt="">
								</div>
								<div class="desc">
									<h5><a href="#">Ina Hayes</a></h5>
									<p class="date">December 4, 2017 at 3:12 pm </p>
									<p class="comment">
										Never say goodbye till the end comes!
									</p>
								</div>
							</div>
							<div class="reply-btn">
								<a href="" class="btn-reply text-uppercase">reply</a>
							</div>
						</div>
					</div>
				-->
				</div>
				<div class="comment-form">
					<h4>Leave a Comment</h4>

					<form method="post" action="{% url 'blog:commentblog' pid=post.id %}">
						{% csrf_token %}
						<input type="hidden" name="post" value="{{ post.id }}">
						<div class="form-group form-inline">
							<div class="form-group col-lg-6 col-md-12 name">
								<input type="text" class="form-control" name="name" placeholder="Enter Name"
									onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Name'">
							</div>
							<div class="form-group col-lg-6 col-md-12 email">
								<input type="email" class="form-control" name="email" placeholder="Enter email address"
									onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'">
							</div>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" name="subject" placeholder="Subject"
								onfocus="this.placeholder = ''" onblur="this.placeholder = 'Subject'">
						</div>
						<div class="form-group">
							<textarea class="form-control mb-10" rows="5" name="message" placeholder="Messege"
								onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'"
								required=""></textarea>
						</div>
						<div class="pb-3">
								{{form.captcha}}
						</div>
						<button type="submit" class="primary-btn text-uppercase">Post Comment</button>

					</form>
				</div>
				{% if messages %}
				{% for message in messages %}
				<div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
				{% endfor %}
				{% endif %}

				{% if form.errors %}
				<div class="alert alert-error">
					<h4>Please fix the following errors</h4>
					<ul>
						{% for field in form %}
						{% if field.errors %}
						{% for error in field.errors %}
						<li><a href="#id_{{ field.name }}" class="error">{{ error|escape }}</a></li>
						{% endfor %}
						{% endif %}
						{% endfor %}
					</ul>
					{% if form.non_field_errors %}
					{{ form.non_field_errors }}
					{% endif %}
				</div>
				{% endif %}
			</div>
			<div class="col-lg-4 sidebar-widgets">
				<div class="widget-wrap">

					{% include 'blog/blog-search.html' %}

					{% include 'blog/blog-writer.html' %}

					{% latestposts %}

					{% include 'blog/blog-ads.html' %}

					{% include 'blog/blog-post-category.html' %}

					{% include 'blog/blog-newsletter.html' %}

					{% include 'blog/blog-tag-cloud.html' %}





				</div>
			</div>
		</div>
	</div>
</section>
<!-- End post-content Area -->

{% endblock %}